body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .home {
    /* display: flex;
    flex-direction: column;*/
    /* justify-content: center;
    align-items: center; */
  }
/*
--------------------------
  Banner section
--------------------------
*/
  .banner {
    height: 100vh; /* full screen height */
    background-image: url("Images/banner.jpg"); /* path to image */
    background-size: cover;      /* makes image cover whole div */
    background-position: center; /* centers the image */
    background-repeat: no-repeat;/* prevents tiling */
    color: white;
    position: relative;
  }
  .banner-content{
    position: absolute;
    top: 1px;
    left: 50px;
    /* margin-top: 100px; */
  }
  .logo-image {
    width: 80px;
    height: 80px;
    margin-left: 100px;
    margin-top: 100px;
  }
  .fa-bars{
    font-size: 30px;
    color: white;
    /* margin-left: 100px;
    margin-top: 100px; */
    position: absolute;
    z-index: 1;
    top:120px;
    left:1200px;
  }
  .stats-image{
    position: absolute;
    z-index:1;
    top:100px;
    left:0px;
    position: center;
  }
  .banner-text{
    margin-top: 250px;
    margin-left: 700px;
  }
  .banner-text h1{
    font-size: 70px;
  }
  .banner-text h2{
    font-size: 30px;
    margin-left: 100px;
  }
/*
--------------------------
  Welcome section
--------------------------
*/
.welcome-section{
    margin-top: 50px;
}
.welcome-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.welcome-top-text h1{
    color:rgb(82, 81, 81) ;
    font-size: 55px;
    word-spacing: 2.5px;
}
.first-para{
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size:30px;
    font-weight: 10;
}
.second-para{
    line-height: 1.7;
    color:grey;
}
.third-para{
    line-height: 1.7;
    font-size: 13px;
    color:grey;
}
.welcome-topleft-image{
    margin-left: 400px;
}
.welcome-topright-image{
    height: 548px;
    width:600px;
}
.welcome-bottom{
    margin-top: 70px;
}
.welcome-bottomleft-image{
    background-color: rgb(222, 0, 70);
    height: 400px;
    width: 500px;
}
.fa-check{
    color:black;
    font-size: 20px;
    line-height: 0.4;
}
.welcome-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:40px;
}
.welcome-bottomright-image{
    height: 450px;
    width: 500px;
}
.welcome-bottomright-image{
  height: 230px;
  width:250px;
}
.welcome-bottom-right-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:30px;
}
.whats-the-point{
  background-color: rgb(222, 0, 70);
  height: 370px;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.whats-the-point-lines{
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap:20px;
  line-height: 0.9;
}
.whats-the-point-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  color:aliceblue;
  margin-left: 30px;
}
.whats-the-point-content{
  font-size: 14px;
}
.whats-the-point-title{
  color:aliceblue;
  font-size: 25px;
}
.trusted-by-txt{
  font-size: 30px;
  line-height: 0.3;
}
.trusted-by-below{
  font-size: 13px;
  color:grey;
  /* line-height: 0.3; */
}
/*
--------------------------
  What we offer section
--------------------------
*/
.offer-section{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color:rgb(239, 239, 239);
}
.offer-section-content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-section-content hr{
  width: 80%;
  height: 0.5px;
  background-color: #e30569;
  margin-bottom: 30px;
}
.offer-items-R1{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap:50px;
}
.offer-items-R1-1{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:40px;
}
.fa-user-group{
  color:#e30569;
  font-size: 45px;
}
.fa-hourglass-half{
  color:#e30569;
  font-size: 45px;
}
.fa-credit-card{
  color:#e30569;
  font-size: 45px;
}
.fa-box-archive{
  color:#e30569;
  font-size: 45px;
}
.fa-leaf{
  color:#e30569;
  font-size: 45px;
}
.offer-items-R1-1-heading{
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 21px;
  color:#353638;;
  font-weight: 200;
  line-height: 0.4;
  opacity: 0.8;
}
.offer-items-R1-1-para{
  font-size: 13px;
  color:#353638;
  opacity: 0.7;
}
.offer-items-R2{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap:50px;
  margin-top: 30px;
}
/*
--------------------------
  Process section
--------------------------
*/
.process-section{
  height: 850px; /* full screen height */
  background-image: url("Images/process-section-bg.png"); /* path to image */
  background-size: cover;      /* makes image cover whole div */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;/* prevents tiling */
  color: white;
  position: relative;
}

.process-section-container{
  margin-top: 50px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  margin-left: 10%;
  gap: 100px;
}
.process-content-txt{
  color:#353638;
  text-align: left;
}
